/*! flexiblegs.style.css */

/* wrapper */

  .wrap > * {
    font-size: 12px;
  }

/* your style */

/* responsive */

  /* lg */

    @media (max-width: 1024px) {

      /* your style */

    }

  /* md */

    @media (max-width: 768px) {

      /* your style */

    }

  /* sm */

    @media (max-width: 667px) {

      /* your style */

    }

  /* xs */

    @media (max-width: 414px) {

      /* your style */

    }
