// wrap

wrap(col = false)
  if (col == false)
    display block
    font-size 0
    text-align center
    > *
      display inline-block
      width 100%
      position relative
      min-height 1px
      font-size 1rem
      vertical-align top
  else
    > *
      if (col == auto)
        width auto
      else
        width (100% / col)
