// column

@mixin column($class) {

  @if $class == xs {
    width: 100%;
  }

  @else if $class == sm {
    @media (min-width: 415px) {
      width: 100%;
    }
  }

  @else if $class == md {
    @media (min-width: 668px) {
      width: 100%;
    }
  }

  @else if $class == lg {
    @media (min-width: 769px) {
      width: 100%;
    }
  }

  @else if $class == xl {
    @media (min-width: 1025px) {
      width: 100%;
    }
  }

}
