// column

@mixin column($class: null, $row: null, $col: null) {

  // xs

  @if $class == xs {
    display: inline-block;
    @if $row == 1 {
      width: 100%;
    }
    @if $row == auto {
      width: auto;
    }
    @if $col != null {
      width: 100% / $row * $col;
    }
  }

  // sm

  @if $class == sm {
    @media (min-width: 415px) {
      display: inline-block;
      @if $row == 1 {
        width: 100%;
      }
      @if $row == auto {
        width: auto;
      }
      @if $col != null {
        width: 100% / $row * $col;
      }
    }
  }

  // md

  @if $class == md {
    @media (min-width: 668px) {
      display: inline-block;
      @if $row == 1 {
        width: 100%;
      }
      @if $row == auto {
        width: auto;
      }
      @if $col != null {
        width: 100% / $row * $col;
      }
    }
  }

  // lg

  @if $class == lg {
    @media (min-width: 769px) {
      display: inline-block;
      @if $row == 1 {
        width: 100%;
      }
      @if $row == auto {
        width: auto;
      }
      @if $col != null {
        width: 100% / $row * $col;
      }
    }
  }

  // xl

  @if $class == xl {
    @media (min-width: 1025px) {
      display: inline-block;
      @if $row == 1 {
        width: 100%;
      }
      @if $row == auto {
        width: auto;
      }
      @if $col != null {
        width: 100% / $row * $col;
      }
    }
  }

}
