// flex

@mixin flex($flex: null) {
  > * {
    @if $flex == auto {
      display: inline-block;
      width: auto;
    }
    @else if $flex == hidden {
      display: none;
    }
    @else {
      display: inline-block;
      width: 100% / $flex * 1;
    }
  }
}
