// flexbox

@mixin order($order: 0) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}
@mixin flexbox($flexbox: null) {
  @if $flexbox == reverse {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  @if $flexbox == no-reverse {
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  @if $flexbox == first {
    @include order(-1);
  }
  @if $flexbox == no-first {
    @include order;
  }
  @if $flexbox == last {
    @include order(1);
  }
  @if $flexbox == no-last {
    @include order;
  }
}
