// gutter

@mixin gutter($gutter: null, $out: null) {
  @if $gutter != null {
    margin: 0 -#{$gutter} 0 -#{$gutter};
    > * {
      padding: 0 #{$gutter};
    }
  }
  @if $out == out {
    margin: 0;
  }
}
