// Layout

*
*:before
*:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
@-ms-viewport
  width device-width
sm = "(min-width: 415px)"
md = "(min-width: 668px)"
lg = "(min-width: 769px)"
xl = "(min-width: 1025px)"
