// col

.col(@col) when (@col = hidden) {
  overflow: hidden;
}
.col(@col) when (@col = not-hidden) {
  display: inline-block;
}
.col(@col, @row) when (isnumber(@col)) {
  width: 100% / @row * @col;
}
