// col

col(row = false, col = false)
  if (row == auto)
    display inline-block
    width auto
  else if (row == hidden)
    display none
  else
    display inline-block
    width (100% / row * col)
