// Layout

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@size-lg: ~"(max-width: 1024px)";
@size-md: ~"(max-width: 768px)";
@size-sm: ~"(max-width: 667px)";
@size-xs: ~"(max-width: 414px)";
