// gutter

@mixin gutter($gutter: null, $out: null) {
  @if $gutter {
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};
    > * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: #{$gutter};
      padding-right: #{$gutter};
    }
  }
  @if $out {
    margin-left: 0;
    margin-right: 0;
  }
}
